Make sure you fill in any place that says `YOUR CODE HERE` or `YOUR ANSWER HERE`, as well as your name below:

In [1]:
NAME = "Mohamed Rakha"

---

# Lab 1 - Data Preprocessing

Data transformations are useful for preparing a dataset for answering a particular question. Part of this process involves generating features from the dataset you find relevant to the question at hand. For this lab, we will be using a Yelp reviews dataset. Each row in the dataset depicts one review along with the features of the review (the reviewer, the review text, etc.). The goal of this lab is to convert this reviews dataset into a reviewers dataset by creating different features of each reviewer.

The submission for this assignment should be done *individually*.

# Environment Setup
Run this cell to setup your environment.

In [2]:
# Importing libraries
import pandas as pd
import math
import numpy as np
import os
print('Libraries Imported')

#DOWNLOADING DATASET IF NOT PRESENT
!wget -nc http://people.ischool.berkeley.edu/~zp/course_datasets/yelp_reviews.csv

#!unzip yelp_reviews.zip
print('Dataset Downloaded: yelp_reviews.csv')
df=pd.read_csv('yelp_reviews.csv')
print(df.head())

print('Setup Complete')

Libraries Imported
File ‘yelp_reviews.csv’ already there; not retrieving.

Dataset Downloaded: yelp_reviews.csv
     type             business_id  ... useful_votes  funny_votes
0  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
1  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
2  review  kK4AzZ0YWI-U2G-paAL7Fg  ...            0            0
3  review  mxrXVZWc6PWk81gvOVNOUw  ...            1            0
4  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            1

[5 rows x 9 columns]
Setup Complete

**Q1: What was the highest number of reviews for any one business_id?**
- For this task, we will need to group the reviews dataset by business_id. This will aggregate data for each business, which is what we need. This can be done using [groupby](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html).
    - ```yelp_businesses = yelp_dataset.groupby('business_id').size() ```
    - The .size() counts the number of instances for each business_id, which gives us the number of reviews as each instance in this dataset is a review.
    - The following command will sort this list, after which you can take note of the highest value: ```sorted_yelp_businesses = yelp_businesses.sort_values(ascending=False, inplace=False)```
    - This approach allows you to see the data structure being used in the sort. A quicker approach to getting the max would be to use the max function: ```max(yelp_businesses)```
<br>
<br>

In [3]:
#Make sure you return the answer value in this function
def q1(df):
    
    # YOUR CODE HERE
    temp = df.groupby('business_id').size()
    return temp.sort_values(ascending=False, inplace=False)[0]

In [4]:
#This is an autograded cell, do not edit
print(q1(df))

4128

**Q2: What was the average number of reviews for a business_id?**

In [5]:
#Make sure you return the answer value in this function
def q2(df):
    
    # YOUR CODE HERE
    temp = df.groupby('business_id').size()
    return temp.sort_values(ascending=False, inplace=False).mean()

In [6]:
#This is an autograded cell, do not edit
print(q2(df))

12.63413902163123

**Q3: What is the average number of reviews per reviewer?**

In [7]:
#Make sure you return the answer value in this function


def q3(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').size()
    return temp.sort_values(ascending=False, inplace=False).mean()

In [8]:
#This is an autograded cell, do not edit
print(q3(df))

3.188511934933203

**Q4: Calculate the total cool votes per reviewer, then average these totals across reviewers.**

In [9]:
#Make sure you return the answer value in this function
def q4(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    return temp['cool_votes'].mean()

In [10]:
#This is an autograded cell, do not edit
print(q4(df))

1.2417282785380945

**Q5: Calculate the total funny votes per reviewer, then average these totals across reviewers.**

In [11]:
#Make sure you return the answer value in this function
def q5(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    return temp['funny_votes'].mean()

In [12]:
#This is an autograded cell, do not edit
print(q5(df))

1.10126486404605

**Q6: Calculate the total useful votes per reviewer, then average these totals across reviewers.**

In [13]:
#Make sure you return the answer in this function
def q6(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    return temp['useful_votes'].mean()

In [14]:
#This is an autograded cell, do not edit
print(q6(df))

2.484476138872867

**Q7: On average, what percentage of a reviewer's votes are cool votes?**

(hint1: calculate the percentage of cool votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [15]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q7(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    temp['totals'] = temp['cool_votes'] + temp['funny_votes'] + temp['useful_votes']
    temp = temp[temp['totals'] != 0]
    avgs = temp['cool_votes']/temp['totals']
    return avgs.mean() * 100

In [16]:
#This is an autograded cell, do not edit
#Remember to multiply by 100 for percentages
print(round(q7(df),2))

19.27

**Q8: On average, what percentage of a reviewer's votes are funny votes?**

(hint1: calculate the percentage of funny votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [17]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q8(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    temp['totals'] = temp['cool_votes'] + temp['funny_votes'] + temp['useful_votes']
    temp = temp[temp['totals'] != 0]
    avgs = temp['funny_votes']/temp['totals']
    return avgs.mean() * 100

In [18]:
#This is an autograded cell, do not edit
print(round(q8(df),2))

18.26

**Q9: On average, what percentage of a reviewer's votes are useful votes?**

(hint1: calculate the percentage of useful votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [19]:
#Make sure you return the answer in this function
def q9(df):
    
    # YOUR CODE HERE
    temp = df.groupby('user_id').sum()
    temp['totals'] = temp['cool_votes'] + temp['funny_votes'] + temp['useful_votes']
    temp = temp[temp['totals'] != 0]
    avgs = temp['useful_votes']/temp['totals']
    return avgs.mean() * 100

In [20]:
#This is an autograded cell, do not edit
print(round(q9(df),2))

62.47

**Q10: Average review text length (in non-space characters)**

In [21]:
#Make sure you return the answer in this function
def q10(df):
    
    # YOUR CODE HERE
    return (df['text'].str.len() - df['text'].str.count(" ")).mean()

In [22]:
#This is an autograded cell, do not edit
print(round(q10(df),0))

499.0



```
# This is formatted as code
```

**Q11: Year in which the reviewer wrote the most reviews. Once you have this for each reviewer, subtract the minimum possible year (2004) from each so that your final feature values are 0, 1, 2 etc.**

In [23]:
# YOUR CODE HERE
pd.to_datetime(df['date'])
df['year'] = pd.DatetimeIndex(df['date']).year
temp = df.groupby(['user_id','year']).size().reset_index()
temp1 = temp.groupby('user_id').max()
temp1.rename(columns={0:"number of reviews"}, inplace=True)
temp1['year - min year'] = temp1['year'] - 2004
temp1

                        year  number of reviews  year - min year
user_id
--1Y03CEKR3WDbBjYnsW7A  2011                  1                7
--2QZsyXGz1OhiD4-0FQLQ  2014                  3               10
--82_AVgRBsLw6Dhy8sEnA  2008                  1                4
--8A9o_NeGyt_3kzlXtSdg  2016                  2               12
--8WbseBk1NjfPiZWjQ-XQ  2016                  4               12
...                      ...                ...              ...
zzv762b871Wp3SVxsFQqHw  2015                  1               11
zzvflqB4xAcKFbIbS6HSOw  2014                 10               10
zzwu0nG0MCUP43zNSr5k-A  2015                  1               11
zzx-JA0qEz5eTO3GMv99NA  2015                  1               11
zzyeArRv6I5HpEJlOCOPAQ  2016                  1               12

[171639 rows x 3 columns]

**Q12: Come up with a new feature for every review. This may be derived from existing features.
Give your feature the name *my_new_feature.* Display head() of this new feature.**

In [24]:
# YOUR CODE HERE - my new feature sees if this review is positive compared to other reviews the reviwer gave
s = df.groupby('user_id').mean()['stars'].reset_index()
s.rename(columns={'stars':"reviwer avg"}, inplace=True)
new = df.join(s.set_index('user_id'), on = 'user_id')
diff = (new['stars'] - new['reviwer avg']).to_list()
diff = np.array(diff)

mnf = []
for i in np.arange(len(diff)):
  if (diff[i] > 0):
    mnf.append('positive')
  elif (diff[i] < 0):
    mnf.append('negative')
  else:
    mnf.append('average')

new['my_new_feature'] = mnf
new.head()

     type             business_id  ... reviwer avg  my_new_feature
0  review  mxrXVZWc6PWk81gvOVNOUw  ...    4.000000         average
1  review  mxrXVZWc6PWk81gvOVNOUw  ...    5.000000         average
2  review  kK4AzZ0YWI-U2G-paAL7Fg  ...    5.000000         average
3  review  mxrXVZWc6PWk81gvOVNOUw  ...    5.000000         average
4  review  mxrXVZWc6PWk81gvOVNOUw  ...    3.470588        positive

[5 rows x 12 columns]